/* Importação das fontes Montserrat e Poppins */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@300;400&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
    max-width: 100%;
}



body {
  font-family: 'Poppins', sans-serif; /* Fonte padrão para o corpo */
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main{
    flex: 1;
}

/* Cores primárias do layout */
:root {
  --primary-dark: #0B131B;
  --primary-light: #f5f5f5;
  --accent-yellow: #E9BF7D;
  --accent-orange: #B38F5A;
}

/* Container geral */
.limitador {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Títulos e Parágrafos */
h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif; /* Títulos com fonte Montserrat */
  
}

h1 {
  font-size: 1.6rem;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  margin: 20px 0 10px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 200;  
}

h4 {
  font-size: 1.2rem;
}

p {
  font-family: 'Poppins', sans-serif; /* Parágrafos com fonte Poppins */
  font-size: 1rem;
  line-height: 1.6;
}

/* Fim css titulos e paragrafos */

/* CSS destaque */


.destaque{
  text-align: left;
}

.form-destaque{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
}

.form-destaque .input-box{
  width: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


.input-box input{
  padding: 20px 20px;
  border-radius: 30px;
  border: 1px solid #ddd;
}

.form-destaque button{
    width: 50%;
    padding: 10px;
    border: 1px solid #B38F5A;
    background: var(--primary-dark);
    color: var(--accent-yellow);
    border-radius: 10px;
    margin: auto;
}

/* Fim css destaque */


/* Header e cabeçalho */

.containerr{
  max-width: 1200px;
  margin: auto;
 
}


.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 13vh;
}

header{
  background:#fff;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  transition: 1s;
  z-index: 10000;

}

header.rolagem{
  background: #fff;
  color: #21212a;
  padding: 20px 4%;
}

header.rolagem a{
  color: #21212a;
}

header h1 a {
  display: block;
  color:  var(--primary-dark);
  text-decoration: none;
}

nav{
  display: flex;
  gap: 55px;
}

nav a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.btnContato button{
  width: 120px;
  height: 40px;
  border: 0;
  background: #fe775a;
  color: #fff;
  cursor: pointer;
  transition: .2s;
  border-radius: 4px;
}

#btnMenu{
  display: none;
}


/* Fim header e cabeçalho */

/* Servctions */

section{
  text-align: center;
}




/* CSS parcerias, missao, valores, visao */

.twob{
  background: var(--primary-dark);
  display: flex;
  flex-direction: column;
  gap: 41px;
}

.orange{
  color: var(--accent-yellow);
  text-align: left;
}

.marrom{
  color: #B38F5A;
  text-align: left;
}

.bg-title{
  background: var(--accent-yellow);
  padding: 30px 0px 30px 0px;
  text-align: center;
}

.left-txt{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 21px;
  color: #fff;
}

.left-txt p{
  font-weight: 300;
}

.valores-bg{
  width: 100%;
}

.valores-bg img{
  border-radius: 30px;
  width: 100%;
  
}

/* Fim CSS parcerias, missao, valores, visao */

/* CSS vantagens */


.vantagens{
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding-top: 40px;
}

.bgggg{
  background: #E9BF7D;
}

.ff{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.services{
  width: 100%;
  margin-top: 60px;
  height: 100vh;
  padding: 0 8%;

  /* margin-bottom: 700px; 650 */
}
.row{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;

}

.cardService{
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s, background 0.7s  ;
}

.cardService span {
  font-size: 40px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-family: 300;
  color: #0B131B;
}

.cardService h3{
  margin-bottom: 8px;
}

.cardService:hover{
  background: #0B131B;
  color: var(--accent-yellow);
  transform: scale(1.05);
}


.cardService:hover span {
  color: var(--accent-orange);
}


/* CSS footer */


footer {
  background: #0e0a08;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}


.pe div{
  display: flex;
  justify-content: center;
  align-items: center;
   text-align: center;
   height: 100px;
   padding-top: 60px;
   color: #fff;
   gap: 25px;
}

.pe div a{
   color: #fff;
   font-size: 1.8rem;
}


.liks{
  display: flex;
  justify-content: center;
  align-items: center;
   text-align: center;
   height: 50px;
   padding-top: 20px;
   color: #fff;
   gap: 25px;
}

.liks a{
  display: block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

footer .aside{
  width: 100%;
  
  background: #eeeeee37;
  height: 1px;
}
.direito{
  color: #fff;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}


/* Media */


@media only screen and (max-width: 650px) {

  nav{
      position: fixed !important;
      top: 0;
      left: -1000px;
      flex-direction: column;
      
  }

  #btnMenu{
      color:  var(--primary-dark);;
      font-size: 1.8rem;
      cursor: pointer;
      display: block !important;
  }

  .ct-btn .btnContato{
      display: none;
      
  }

  .banner{
      background-image: url(../imagens/bg.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .banner .limitador{
      backdrop-filter: blur(16px);
      height: 500px;
      
  }
  
  .banner .container .flex{
      display: flex;
      flex-direction:column;
      justify-content: space-between;
      backdrop-filter: blur(16px);
  }
  .banner .container .flex .box-txt{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
  }
  
  
  .flex img{
      max-width: 100%;
      width: 50%;
      display: none;
  
  }
  
  .flex .card-img{
      width: 600px;
  }
  
  .box-txt h2{
      color: #fff;
      width: 350px !important;
      font-size: 2.5rem;
      margin-top: 55px;
  }
  
  .box-txt h2 span{
      color: #ffae81;
  }
  
  .box-txt p{
      font-size: 1.8rem;
      color: #fff;
  }
  
  .box-txt form{
      
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      gap: 15px;
      height: 220px;
      width: 100%;
  }
  
  .box-txt form label{
      color: #ffae81;
      font-weight: 600;
      font-size: 1.4rem;
  }
  
  .box-txt form input{
      padding: 15px 20px;
      border-radius: 7px;
      border: 1px solid #fff;
  }
 .services{
  height: 100%;
  margin-bottom: 50px;
 }

 .ctwave{
  height: 1000px !important; 
 }


 .ctwave .wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: url(../imagens/wave.png);
  background-size: 450px 100px !important;
  }


  

  
 
  
  
  .liks{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
       text-align: center;
       height: 250px !important;
       padding-top: 20px;
       color: #fff;
       gap: 25px;
   }

   .liks a{
      display: block;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
   }
  
   footer .aside{
      width: 100%;
      
      background: #eeeeee37;
      height: 1px;
   }
   .direito{
      color: #fff;
      width: 100%;
      text-align: center;
      padding-top: 20px !important;
   }
}
